:root {
    --primary: #4831d4;
    --secondary: white;
    --background: #f5f7fa;
}

.panel {
    display: grid;
    grid-template-columns: 20% 70%;
    width: 100%;
    justify-content: space-between;
    margin: 0 5% 0 5%;
    margin-top: 3em;
}


.sidebar {
    padding: 15px 20px;
    background-color: var(--primary);
    border-radius: 5px;
    color: var(--secondary);
    height: fit-content;
}

.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
    background-color: var(--primary);
    color: var(--secondary);
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid var(--primary);
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: var(--primary);
}